// Gray Colors
$text-color: #404040;
$footer-text-color: #747474;
$input-color: #c7c7c7;
$footer-color: #F1F1F1;
$border-color: rgba(206, 206, 206, 0.5);
$button-color: #F5F5F5;
$icon-color: #9AA0A6;

// Google Colors
$google-blue: #4285F4;

$google-blue-hover: #3973d4;
$google-red: #DB4437;
$google-yellow: #F4B400;
$google-green: #0F9D58;

// Sizes
$text-size: 0.83em;
$heading-size: 5.4rem;

// Product Sans Font
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

// Reset default styles
html,
body,
* {
  font-family: Arial, serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

p,
a {
  color: $text-color;
  font-size: $text-size;
}

a:hover {
  text-decoration: underline;
}

.line_break {
  background-color: $border-color;
  display: block;
  font-size: 2px;
  width: 100%;
  height: 1px;
}

.monospace {
  font-family: "Lucida Console", "Menlo", "Monaco", "Courier", monospace;
}

// Page container with display grid
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20fr 1fr;
  width: 100vw;
  height: 100vh;
}

// Nav Bar
header {
  grid-column: 1;
  grid-row: 1;
  padding: 1vh 0.7vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1,
  p,
  a {
    font-family: Product Sans, serif;
  }

  h1 {
    margin-right: auto;
    font-size: 1.7rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  nav {
    margin-left: auto;

    ul {
      padding-top: 0.5em;
      display: flex;
      justify-content: flex-end;
      list-style-type: none;

      li {
        height: 100%;
        padding-right: 1em;

        a {
          text-decoration: none;

          &.button {
            background-color: $google-blue;
            color: white;
            padding: 0.55rem 1.6rem;
            border-radius: 3px;

            &:hover {
              text-decoration: none;
              background-color: $google-blue-hover;
            }
          }
        }
      }
    }
  }
}

// Heading & Search
main {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: start;
  flex-direction: column;

  & > * {
    padding: 0 0.7vw 0 2.5rem;
  }

  h2 {
    font-size: 1.23rem;
    padding-top: 3rem;
    padding-bottom: 0.7rem;
  }
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.3fr repeat(5, 1fr);
  gap: 20px;
}

.search-row-container {
  grid-column: 1;
  display: grid;
  grid-template-columns: 4fr 16fr 8fr;
  grid-template-rows: 1fr;
  height: 2rem;
  align-items: center;
  gap: 20px;

  input[type=text],
  input[type=password],
  input[type=email] {
    background: white;
    color: black;
    border: 1px solid $icon-color;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 70%;
    font-size: 0.8rem;

    &:focus {
      border-color: $google-blue;
    }
  }

  label {
    font-size: 0.8rem;
  }

  p {
    color: $text-color;
    font-size: 0.7rem;

    span {
      color: $footer-text-color;
    }
  }

  h3 {
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    grid-column: 1/3;
    grid-row: 1;
  }

  h4 {
    font-size: 0.85rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    font-weight: 600;
    color: $footer-text-color;
    grid-column: 3;
    grid-row: 1;
  }

  .button-container {
    display: flex;
    justify-content: right;
    grid-column: 2;

    input[type=submit] {
      background-color: $google-blue;
      color: white;
      padding: 0.55rem 1.6rem;
      border: none;
      border-radius: 3px;
      font-weight: 600;
      font-size: 0.7rem;

      &:hover {
        box-shadow: 3px 3px 4px $border-color;
      }
    }
  }
}

// Footer
footer {
  grid-column: 1;
  grid-row: 3;
  padding: 0 0.7vw;
  background-color: $footer-color;
  border-top: 0.6px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: $footer-text-color;
  }
}

// Google Colors - Blue
.google-blue {
  color: $google-blue;
}

// Google Colors - Red
.google-red {
  color: $google-red;
}

// Google Colors - Yellow
.google-yellow {
  color: $google-yellow;
}

// Google Colors - Green
.google-green {
  color: $google-green;
}

// Large Screen Query
@media only screen and (min-width: 1200px) {
  form {
    width: 65%;
  }
}

// Very Large Screen Query
@media only screen and (min-width: 2000px) {
  form {
    width: 45%;
  }
}

// Mobile Screen Media Query
@media only screen and (max-width: 805px) {

  html,
  body {
    font-size: 14px;
  }

  form {
    .search-row-container {
      grid-template-columns: 6fr 16fr 1fr;
    }

    p,
    h4 {
      display: none;
    }
  }
}
